name = "voicetowebsite"
main = "worker.js"
compatibility_date = "2026-01-27"
account_id = "d6ec056b27a57bcf807a46b2e3379d60"

routes = [
  "voicetowebsite.com/*",
  "www.voicetowebsite.com/*",
]

compatibility_flags = ["nodejs_compat"]

[vars]
ENVIRONMENT = "production"
PAYPAL_RECEIVER = "mr.jwswain@gmail.com"

[assets]
directory = "./dist"
binding = "ASSETS"

[ai]
binding = "AI"

[[d1_databases]]
binding = "DB"
database_id = "df1e9d32-3a53-4994-affc-d395983a8dc4"

[[r2_buckets]]
binding = "BUCKET"
bucket_name = "voicetowebsite-assets"

[[kv_namespaces]]
binding = "KV"
id = "e61605d144ac4348a72b7e85afc6c185"

[observability]
enabled = true
head_sampling_rate = 1

  [observability.logs]
  enabled = true
  head_sampling_rate = 1
  persist = true
  invocation_logs = true

  [observability.traces]
  enabled = true
  persist = true
  head_sampling_rate = 1
